<app-navbar></app-navbar>
<br />
<br />
<br />
<p-toast position="top-right" id="pToast" >
</p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"
  [baseZIndex]="10000" [appendTo]="'body'" [styleClass]="'custom-confirm-dialog'">
</p-confirmDialog>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1>Bidder Profile</h1>
    </div>
    <div class="col-md-4 text-right">
      <button pButton type="button" label="Add New" icon="pi pi-plus" class="p-button-success" (click)="onAddNewBidderProfile()">Add New</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="platform-table">
      <thead>
        <tr>
          <!--<th>Profile ID</th>-->
          <th>Profile Name</th>
          <th>Platform Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of profileformdata">
          <!--<td>{{ data.profileID }}</td>-->
          <td>{{ data.profileName }}</td>
          <td>{{ data.platformName }}</td>

          <td>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editBidderProfile(data.profileID)">
            </button>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="DeleteBidderProfile(data.profileID)">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
